* {
    box-sizing: border-box !important;
}

html, body {
    overflow: hidden !important;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

[class*="primary"] {
    background-color: #10203F !important;
    border-color: #10203F !important;
}

[class*="info"] {
    background-color: #00B2FF !important;
    border-color: #00B2FF !important;
}

main {
    min-height: 100vh;
}

.bg-light {
    background-color: rgba(0, 51, 102, .8) !important;
}

.logo {
    width: 15rem;
}

.error {
    color: red;
    font-size: .8em;
}

@media only screen and (max-width: 998px) {
    html, body {
        font-size: 90% !important;
        overflow-y: scroll;
    }

    .section-height {
        height: auto !important;
    }
}

@media only screen and (min-width: 767px){

    html, body {
        height: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    html {
        font-size: .7em;
    }
}


@media only screen and (max-height: 500px){
    html {
        font-size: 60% !important;
    }

    .section-height {
        display: block;
        /* max-height: 320px !important; */
    }
}